<%= image_tag "icons/huntapartment-big-logo.png", :class => "big-logo" %>
<form class="container">
  <input class="form-control" id="exampleInputEmail1" placeholder="Email" type="text">
  <button type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </button>
</form>